body{
    background-image: url(/images/abstract-art-black-background-1040499+Photo+by+Oleg+Magni+from+Pexels.jpg);
   
}
#get{
    margin-top: 30px;
}
p{
    font-size: 20px;
    line-height: 5vh;
}


.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

span{
    color: green;
    font-weight: bolder;
}

.flex-container p{
    line-height: 2vh;
    padding: 10px;
}

input[type=number] {
    width: 100%;
    padding: 6px;
  }
  
  label {
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid transparent;
    width: 100%;
  }
  
  .container-fluid p{
      font-size: 20px;
  }
  